services:
  app:
    image: ifeolaitan/muchtodo:v1
    container_name: muchtodo-app
    restart: unless-stopped
    ports:
      - "8080:8080"
    volumes:
      - ./.env:/app/.env:ro
    depends_on:
      mongodb:
        condition: service_healthy
    networks:
      - backend

  mongodb:
    image: mongo:8.0
    container_name: mongodb
    restart: unless-stopped
    ports:
      - "27017:27017"
    env_file:
      - .env
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_PASSWORD}
      MONGO_INITDB_DATABASE: ${DB_NAME}
    volumes:
      - mongo_data:/data/db
      - mongo_config:/data/configdb
    healthcheck:
      test: mongosh --port 27017 -u ${MONGO_USERNAME} -p ${MONGO_PASSWORD} --authenticationDatabase admin --eval "db.adminCommand('ping')" --quiet
      interval: 10s
      timeout: 10s
      retries: 5
      start_period: 40s
    networks:
        - backend

volumes:
  mongo_data:
  mongo_config:

networks:
  backend:
    driver: bridge